@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: rgb(220, 231, 233);
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: rgb(54, 64, 73);
    margin: 0;
    padding: 32px;
    text-align: center;
    font-size: 64px;
    color: rgb(217, 219, 221);
}

.game-container {
    flex: 1;
    display: flex;
}

.player-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.human.player-container {
    background-image: linear-gradient(to right bottom, #ff2f2f, #ea4326, #d54f21, #c15720, #ae5b23, #af672d, #b07339, #b17e45, #c5975a, #d8b170, #eccb88, #ffe6a1);
}

.computer.player-container {
    background-image: linear-gradient(to right top, #b5b5b5, #999999, #7d7d7d, #636363, #4a4a4a);
}

.human-header {
    font-size:38px;
    color: rgb(255, 227, 248);
    text-shadow: -1px 1px 2px #ffa9e5,
				  1px 1px 2px #ffa9e5,
				  1px -1px 0 #ffa9e5,
				  -1px -1px 0 #ffa9e5;
}

.machine-header {
    font-size:38px;
}

.button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-bottom: 32px;
}

.game-button {
    background-color: rgb(54, 64, 73);
    color: rgb(217, 219, 221);
    font-size: 3vh;
    width: 15vh;
    height: 15vh;
    border-style: solid;
    border-width: 4px;
    border-radius: 25px;
    border-color: black;
    transition-duration: 0.4s;
}

.human .game-button:hover {
    background-color: rgb(86, 94, 100);
    color: rgb(217, 219, 221);
    font-size: 3.1vh;
}

.won-button {
    border-color: rgb(79, 255, 79);
    border-width: 8px;
}

.lost-button {
    border-color: rgb(228, 30, 30);
    border-width: 8px;
}

.computer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: rgb(86, 94, 100);
    color: rgb(163, 164, 165);
}

.score-container {
    display: flex;
    padding-bottom: 32px;
}

.score-icon {
    width:  2vh;
    height: 2vh;
    border-style: solid;
    border-radius: 50%;
}

.won-round{
    background-color: rgb(51, 231, 51);
}

.game-info {
    border-style: none;
    font-size: 24px;
    margin: auto;
    padding: 8px;
    border-radius: 4px;
    background-color: whitesmoke;
    text-align: center;
}